
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.mx-datepicker-popup{
  background-color: #6c757d;
}

.mx-calendar{
  background-color: #6c757d;
}

.mx-calendar-content{
  color: white;
}

.mx-calendar-header{
  color: white;
}

.cell.cur-month{
  font-weight: bold;
  font-size: 1.1rem;
}



// Table
// @media (max-width: 500px) {
//   table {
//     transform: scale(0.1);
//     scale: 0.1;
    
//     max-width: 100vw !important;
//     width: 100vw !important;
//     font-size: 1vw !important;
//     padding: 0vw !important;
//     margin: 0vw !important;
//   }
// }