* {
   font-size: 16px;
}

[v-cloak] {display: none  !important;}

.culoare1 {
    color: white;
    background-color: #336699 !important;
}
.culoare1-border {
    border-color: #336699 !important;
}
/* .culoare2 {
    color: white;
    background-color: #d85c27; */
/* } */
.culoare2 {
    color: white;
    background-color: #336699 !important;
}
.culoare3 {
    color: white;
    background-color: #141850 !important;
}
.culoare4 {
    color: white;
    background-color: #f5cac2 !important;
}
